<div class="card col-md-3">
    <div>
        <h3>陈嘉进的名片</h3>
        <button type="button" data-toggle="modal" data-target=".code">
            <img src="/images/weichat.png" alt="微信">
        </button>
    </div>

    <!--模态框-->
    <div class="code modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <img src="/images/code.jpg" alt="二维码">
            </div>
        </div>
    </div>

    <ul>
        <li>
            <span>职业:</span>
            <span>在读学生</span>
        </li>
        <li>
            <span>常居:</span>
            <span>广东省-广州市</span>
        </li>
        <li>
            <span>工作室:</span>
            <span>五帆科技工作室</span>
        </li>
        <li>
            <span>Email:</span>
            <span>1014379364@qq.com</span>
        </li>
    </ul>
</div>