<div class="class-nav col-md-3">
    <h4 class="nav-title text-center">分类专栏</h4>
    <ul>
        <li>
            <span class="glyphicon glyphicon-tags"></span><a href="#">个人笔记</a>
            <span class="num">16</span><span class="num">篇</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tags"></span><a href="#">个人笔记</a>
            <span>16</span><span>篇</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tags"></span><a href="#">个人笔记</a>
            <span>16</span><span>篇</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tags"></span><a href="#">个人笔记</a>
            <span>16</span><span>篇</span>
        </li>
        <li>
            <span class="glyphicon glyphicon-tags"></span><a href="#">个人笔记</a>
            <span>16</span><span>篇</span>
        </li>
    </ul>
</div>