<div class="introduce col-md-8">
    <div class="info-box">
        <img src="/images/gongben.jpeg" class="img-thumbnail">
        <h3 class="info-text"><%= columnData.columnName%></h3>

        <div class="info-data">
            <span class="static">关注数:</span> <span class="text-primary">100</span>
            <span class="static">栏目数:</span> <span class="text-primary">100</span>
            <span class="static">浏览量:</span> <span class="text-primary">100</span>
        </div>
    </div>
    <div class="person-box">
        <h3>作者介绍</h3>
        <p><%= columnData.columnIntroduce%></p>
    </div>
</div>