<div class="web-foot">
    <div class="container">
        <div class="weichat  hidden-sm hidden-xs">
            <img src="/images/code.jpg" alt="微信二维码">
            <p class="text-center">我的微信</p>
        </div>
        <div class="end-text">
            <h4>本站声明:</h4>
            <p>1、本站由陈嘉进个人设计以及开发，未经许可不得用于任何商业目的。</p>
            <p>2、所有文章请标明转载出处，如有违反，追究责任。举报邮箱：1014379364@qq.com</p>
            <p>备案号：暂无 公安备案号：暂无</p>
        </div>
    </div>
</div>